Package: com.matchstic.Weather
Name: Weather
Version: 1.0-1
Description: 
Section: Addons (Convergance)
Depends: firmware (>= 5.0)
Conflicts: 
Replaces: 
Priority: optional
Architecture: iphoneos-arm
Author: Matt Clarke
dev: 
Homepage: 
Depiction: 
Maintainer: 
Icon: 

